@import "tailwindcss";

*{
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
}

#root {
    width: 100%;
    height: 100%;
}   

.background {
    background-image: url(./assests/bg-image.jpeg);
}

.background-login {
    background-image: url(./assests/login-bg.jpg);
}

.background-login1 {
    background-image: url(./assests/login-img.jpg);
}